<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.custom.9CF0889F-2091-4C12-9300-2BED1BFC40E1</string>
	<key>lightthemeuid</key>
	<string>theme.custom.ABAA7584-7851-46FE-8437-F55911813563</string>
</dict>
</plist>
